<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/pirates" method="post">
      <h1>Pirate Information</h1></br>
      <label for="pirate_name"><input type="text" name="pirate_name" value=""></label>
      <label for="pirate_weight"><input type="text" name="pirate_weight" value=""></label>
      <label for="pirate_height"><input type="text" name="pirate_height" value=""></label>
      <h2>Ship 1 Information</h2></br>
      <h2>Ship 2 Information</h2></br>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
