<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <% @pirates.each do |pirate| %>
  <%= pirate.name %>
  <%= pirate.weight %>
  <%= pirate.height %>
  <% end %>


  <% @ships %>

  </body>
</html>
